ion-icon {
    position: absolute;
    top: 15px;
    right: 20px;
}

ion-list, section {
    padding: 30px;
}

.check {
    display: flex;
    align-items: center;
} 

ion-checkbox {
    margin-right: 20px;
}