ion-toolbar h1 {
    text-align: center;
    font-weight: bold;
}

h1 {
    color: #1A55B4;
    font-size: 25px;
    font-weight: bolder;
    margin-left: 30px;
  }

ion-calendar {
    width: 90%;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.12) 10px 16px 16px;
}